
    <h2><%= @url.full_url %></h2>  

    <h2><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></h2>

    <h2><a href='<%= root_url %><%= @url.short_url %>'><%= root_url %><%= @url.short_url %></a></h2>
<br>
<p>
<h4><%= link_to "back", root_path %></h4>
</p>

